.ICEauthority
.Xauthority
.bash_history
.bash_logout
.cache/
.compiz/
.config/
.dmrc
.filezilla/
.gconf/
.gstreamer-0.10/
.local/
.macromedia/
.mozilla/
.pki/
.profile
.ssh/
.tuxpaint/
.viminfo
.xchat2/
.xinputrc
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-patrick-ThinkPad-T530-5.0.2
.zsh-update
.zsh_history
Applications/
Downloads/
examples.desktop
github/
Desktop
.oh-my-zsh
